#main {
  display: flex;
  flex-flow: column nowrap;
  flex: auto;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(
      to right bottom,
      rgb(18, 18, 18),
      rgb(0, 0, 0)
    ),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

#main .logo {
  align-self: center;
  margin: 10px 0 16px;
}
